[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym-super-mario-bros = "*"
matplotlib = "*"
tensorflow = "*"
tensorboard = "*"
numpy = "*"
scipy = "*"
tf-agents = "*"
array2gif = "*"

[dev-packages]
pylint = "*"
pytest = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
